@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/img-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 70px;
  font-size: 300%;
  text-transform: uppercase;
  color: #fff;
}
h1 {
  text-shadow: 2px 2px 0 #525050, 4px 4px 0 #000;
}
.Formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.Formulario {
  margin-top: 90px;
}
.Formulario {
  font-weight: bold;
  color: #000;
}
input::placeholder {
  color: #000;
}

.email-form {
  margin-bottom: 20px;
}

.email-form input {
  background-color: transparent;
  padding: 10px;
  margin-left: 10px;
  width: 18.75rem;
  border-radius: 5px;
}

input {
  font-size: 14px;
  border: 2px solid;
  color: #000;
}
textarea::placeholder {
  color: #000;
}
.name {
  margin-bottom: 20px;
}

.name input {
  background-color: transparent;
  padding: 10px;
  margin-left: 10px;
  width: 18.75rem;
  border-radius: 5px;
}
.date {
  margin-bottom: 20px;
}
.date input {
  background-color: transparent;
  padding: 10px;
  margin-left: 19px;
  width: 18.75rem;
  border-radius: 5px;
}
.label {
  margin: auto;
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
}

textarea {
  background-color: transparent;
  border: 2px solid black;
  font-size: 14px;
  width: 18.75rem;
  height: 200px;
  margin-left: 55px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 3px;
}
.btn a {
  text-decoration: none;
  color: rgb(39, 37, 37);
  padding: 2px;
  font-weight: bold;
}
.btn a:hover {
  background-color: rgb(179, 221, 207);
}
.btn button {
  border: 2px solid black;
}
.Agradecimento {
  margin-left: 80px;
  border-bottom: 1px solid rgb(34, 32, 32);
  width: 77%;
  margin-bottom: 10px;
  font-weight: 700;
}
.Contato {
  margin-left: 70px;
}
.social {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: 70px;
}
.face,
.twitter,
.insta,
.email {
  filter: drop-shadow(3px 2px black);
}
img {
  margin: 20px;
}
.footer{

 margin-left: 80px;
 font-size: 12px;
 font-weight: bold;

}
@media screen and (max-width: 400px) {
  h1 {
    text-align: center;

    margin-top: 0.62rem;
  }
  .Formulario {
    margin-top: 30px;
  }
  label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item {
  text-align: center;
  margin-left: 95%;
}
  img {
  margin: 10px;
}
  input {
    text-align: center;
  }
  img {
    margin: 5px;
  }

  .Agradecimento {
    margin-left:50px;
  text-align: center;
    width: 77%;
  }

  .Contato {
    margin-left: 40px;
    text-align: center;
  }

  .social {
    margin-left: 2.18rem;
  }

  .btn {
    margin-bottom: 0.31rem;
  }

  .footer {
    margin-left: 30px;
  }
  .email-form, .name , input {
    margin-left: 20px;
    width: 150px;

  }
  .date input {
    margin-left:33px;
  }
  textarea{
    width: 300px;
    height: 100px;
    margin-left: 35px;
  }


  textarea,
  label {
    margin-bottom: 0.31rem;
  }
}